<!--
 The html page template(Hanlebars) of controller name is Example
-->
<!-- banner part start -->
<!-- the setting information of the div ,will loaded from value of key(banner) in structure_main.js  -->
<div id="M_banner"></div>
<!-- banner part end -->
