<script type="text/x-handlebars-template">
    <div class="container">
		<div class="row">
		    <div class="col-md-12">
		    	<div id="map_component" class="worldMap"></div>
		    </div>
		</div>
	</div>
</script>