.header {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.10);
	padding: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.banner {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	color: #fff;
}
#banner_part {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #97CBFF;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.banner:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.55);
	content: "";
}
.banner-caption {
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 2;
}
.subfooter {
	background-color: #fafafa;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	padding: 40px 0;
}
.section {
	background-color: #ffffff;
	padding: 80px 0;
}

/* Sections
----------------------------------------------------------------------------- */
.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
	color: #ffffff;
}
.banner-caption h1 {
	font-size: 60px;
}
.subfooter p {
	margin-bottom: 0;
}