<script type="text/x-handlebars-template">
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center; height: 50px;">
						<div class="fb-like" data-href="http://www.hou-xiang.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
						<div id="fb-root"></div>
					</div>
					<p class="text-center smooth-scroll">Back to <a href="#banner">Top</a></p>
					<p class="text-center">Copyright © 2016   by <a target="_blank" href="#">HX Studio</a>.</p>
				</div>
			</div>
		</div>
	</div>
</script>